.new-tweet {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  width: 90%;
}

.form-actions {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  font-family: "Bungee", sans-serif;
  margin-top: 10px;
}

.form-actions button {
  background-color: #4056A1;
  color: #fff;
  border: 0px;
  padding: 5px 8px 5px 8px;
}

.form-actions button:hover {
  background-color: #f4f1ec;
  color: #4056A1;
}

.form-actions output {
  padding: 5px 8px 5px 8px;
}

textarea {
  width: 100%;
  margin-top: 38px;
  margin-bottom: 8px;
  background-color: transparent;
  border-top: 0px;
  border-right: 0px;
  border-bottom: 5px solid black;
  border-left: 0px;
  font-family: "Source Sans 3", sans-serif;
  font-weight: 600;
  resize: none;
  padding: 5px 0px 10px 5px;
}

label {
  display: block;
  margin-bottom: 4px;
}