.new-tweet {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  width: 90%;
}

.form-actions {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  font-family: "Bungee", sans-serif;
  margin-top: 10px;
}

.form-actions button {
  background-color: #4056A1;
  color: #fff;
  border: 0px;
  padding: 5px 8px 5px 8px;
}

.form-actions button:hover {
  background-color: #f4f1ec;
  color: #4056A1;
  cursor: pointer;
}

.form-actions output {
  padding: 5px 8px 5px 8px;
}

label {
  margin-top: 10px;
  align-self: baseline;
  font-weight: 600;
  color: #545149;
}

textarea {
  width: 100%;
  margin-top: 0;
  margin-bottom: 8px;
  background-color: transparent;
  border-top: 0px;
  border-right: 0px;
  border-bottom: 5px solid #545149;
  border-left: 0px;
  font-family: "Source Sans 3", sans-serif;
  color: #545149;
  font-weight: 400;
  resize: none;
  padding: 5px 0px 10px 5px;
}

textarea:focus {
  outline: none;
}

.empty-tweet-error, .exceeded-chars-error {
  display: none;
  color: red;
  font-family: "Source Sans 3", sans-serif;
  font-size: medium;
  margin: 0;
  padding: 5px 0px 5px 0px;
}

.errors-counter{
  display: flex;
  justify-content: flex-end;
  align-self: center;
}

label {
  display: block;
  margin-bottom: 4px;
}

.text-danger {
  color: red;
}