article.tweet {
  width: 90%;
  margin: auto;
  display: block;
  outline: 3px solid #545149; 
  margin-bottom: 20px; 
}

article.tweet .tweet-header {
  padding: 10px; 
  margin-top: 20px;
  background: none;
  display: flex;
  justify-content: space-between;
}

article.tweet .tweet-author {
  display: flex;
  align-items: center; 
  gap: 10px;
}

article > header > p {
  opacity: 0.6;
}

article.tweet .tweet-content {
  display: flex;
  align-items: center; 
  font-size: medium;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  border-bottom: 5px solid #545149;
  padding-bottom: 10px;
}

article.tweet .tweet-content p {
  margin: auto;
  white-space: normal;
  overflow-wrap: break-word; 
  width: 98%;
}

article.tweet .tweet-footer {
  display: flex;
  justify-content: space-between;
  font-size: small;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
}

article.tweet:hover {
  box-shadow: 10px 10px 3px #545149;
}

textarea::placeholder {
  font-weight: bold;
}

.tweet-footer i:hover{
  color: #4056A1;
  transition: color 0.3s ease;
  cursor: pointer;
}

/* Tablet Styles */
@media only screen and (max-width: 1023px) {
  article.tweet .tweet-content p {
    width: 96%;
  }
}